[2019-06-11 13:53] ariexi opened #3 "OpenADx - Events"
Out first event will be our founding workshop on 25th June.
Could you please refer to the url [https://openadx-workshop.eventbrite.com](https://openadx-workshop.eventbrite.com) ?

Event - OpenADx Workshop - Forming an Eclipse Working Group
Date: 25th June 2019
Location: Filderhalle Leinfelden-Echterdingen (near Stuttgart airport)

We are happy to invite you to our first meeting about forming the E

[2019-06-11 14:07] ariexi opened #4 "OpenADx - Vision"
Autonomous driving (AD) is an extremely complex challenge with a complex development process, which is slowed at every turn by incompatibility between widely used development tools. The tools we already use in and of themselves are very good, but they do not work seamlessly with one another simply because they were never designed to work with each other.
This is an industry-wide issue.  It slows u

[2019-06-11 14:13] ariexi opened #5 "OpenADx - Members"
First member parties who signed the participation agreement are:
- [itemis](https://www.itemis.com/en/)
- [Eteration A.S.](https://www.eteration.com/)

More will follow ...

[2019-06-11 14:29] ariexi opened #6 "OpenADx - Working Group"
**About**
The OpenADx working group will coordinate the development of Eclipse Foundation projects on the following topics:
- Implementation of interfaces between the development steps
- Implementation of common standards from other working groups (e.g. VDA Leitinitiative)
- Definition of an initial setup for fast implementation
- Ensures interoperability between development stages

Projects hoste

[2019-06-11 14:31] ariexi commented on #6
I cannot attach a jpg or png ...
Do you have an idea?

[2019-06-11 14:40] ariexi opened #7 "OpenADx - Resources"
**White Papers**
under construction

**Articles & Videos**
Watch the video on OpenADx here on YouTube: [https://youtu.be/7gHLkSzWNKA](https://youtu.be/7gHLkSzWNKA)

[Blog Post: Autonomous Driving Toolchain](https://blog.bosch-si.com/developer/autonomous-driving-toolchain)
[Blog Post: Autonomous Driving Accelerator OpenADx launched](https://blog.bosch-si.com/developer/autonomous-driving-accelerator

[2019-06-11 14:42] ariexi opened #8 "OpenADx - Technologies"
"About Technologies"

Automated Driving (AD) is clustered into three equally important technology areas:
1. In-vehicle technology
2. Cloud technology (backend)
3. Design, development, test and validation tools (tool chain)

OpenADx is currently focused on the AD tool chain. The goal is to accelerate AD development through open collaboration and open source.
OpenADx' vision is to ensure transparenc

[2019-06-13 07:43] ariexi opened #10 "OpenADx - News"
Do you think, the press release as well as the project review for Eclipse Cloe will fit for the News section?

Link to Press Release (currently in draft state): https://docs.google.com/document/d/18v3e7FMTs_ojJb-ih7wbQt3cL9MavcsBU0ZMsD712yA/edit?ts=5cffc7bd[](https://docs.google.com/document/d/18v3e7FMTs_ojJb-ih7wbQt3cL9MavcsBU0ZMsD712yA/edit?ts=5cffc7bd)

Link to Cloe project proposal: [https://p

[2019-06-13 14:16] ariexi opened #11 "OpenADx - Projects"
Currently, we have one project, Eclipse Cloe
[Here is the link to the project proposal](https://projects.eclipse.org/proposals/eclipse-cloe)

We have to figure out, how other working groups will be connected, e.g. openMobility, openPASS, ...

[2019-06-14 15:44] ericpoirier commented on #10
Yes they both can go under the News section.

Just provide me the following information for both News items:

Title
Short description
Full description (if internal page)
Link (if external page)

Thanks.

[2019-06-14 17:04] ericpoirier commented on #11
Since Eclipse Cloe is still in the proposal phase, should we wait until creating the Projects page on OpenADx? Or should we highlight on the projects page that this is a project proposal for now?

[2019-06-17 09:23] ariexi commented on #11
Hopefully, Cloe reach the "creation review" state soon ...
Wayne wrote me, that approval is needed from Executive director and he was out-of-office last week.
Maybe today ...
We are working internally on the necessary steps for an initial contribution.

[2019-06-17 14:24] chrisguindon opened #12 "Host openadx.eclipse.org on Eclipse Infrastructure"
This website is currently hosted via github pages.  I recommend that we host this website on our new Openshift infra since this website is a sub-domain of eclipse.org.

This request is similar to https://github.com/EclipseFdn/openmobility.eclipse.org/issues/14

The plan is to migrate the site on June 24.

[2019-06-17 14:31] chrisguindon commented on #12
@eclipsewebmaster We will need to configure the domain openadx.eclipse.org for the working group's website which is going live on June 24 2019.

[2019-06-17 14:36] chrisguindon opened #13 "Implement openadx look and feel"
Stephanie created the following files for the look and feel for openADx website:

[background_innerpage.zip](https://github.com/EclipseFdn/openadx.eclipse.org/files/3297463/background_innerpage.zip)
[background_openadx.zip](https://github.com/EclipseFdn/openadx.eclipse.org/files/3297465/background_openadx.zip)
![Innerpage](https://user-images.githubusercontent.com/893942/59612735-9f8c5800-90eb-11e

[2019-06-17 15:06] ariexi commented on #10
**Title**
OpenADx Becomes Eclipse Working Group - Focused on Interoperability in the Autonomous Driving Software Stack

**Short description**
The Eclipse Foundation today announced the launch of the OpenADx Working Group, an automotive industry collaboration focused on creating better compatibility, interfaces, and broader interoperability for the autonomous driving development stack.

**Link (wil

[2019-06-17 15:14] ariexi commented on #10
**Title**
First OpenADx project - Eclipse Cloe - in community review now

**Short description**
The first open source project which will be contributed by the OpenADx Eclipse Working Group is now in the community review.

_What is Eclipse Cloe?_
Eclipse Cloe is an enhanced middleware solution for closed-loop simulations, with a focus on functional software tests on system level. Cloe is used as a

[2019-06-17 15:15] ariexi commented on #11
My proposal is to highlight it on the project page as a project proposal for now.

[2019-06-17 15:17] ariexi commented on #13
Looks really great!

[2019-06-17 15:46] ericpoirier commented on #11
Ok no problem, I will highlight this as a project proposal.

[2019-06-17 15:47] ericpoirier commented on #10
Please provide the link of the Press Release when it is ready.

Thanks.

[2019-06-17 15:53] ariexi commented on #10
Of course, I will do that!

[2019-06-17 17:42] ericpoirier commented on #8
Not entirely sure what the following  links/paragraphs should look like on the page:

Bullet Simulation and test

Link to Eclipse Cloe Project Proposal

Cloud be the "Learn more" button

[2019-06-18 16:03] ariexi commented on #8
Sorry, a typo, not "Cloud" I want to say:

Let me try this way:
I had in mind, that starting with the "tool chain " overview, we will made the buttons (sorry, buttons not bullets ;-) ) clickable.
Remembering Stephanie´s proposal, there is a very good implementation.
At first, I have content for the "button" (or better "technology")
So maybe the site can stay for the moment as it is, but later on w

[2019-06-18 17:19] ericpoirier commented on #8
By the tool chain, you mean the image with the blue icons?

You can see an example of the technology page here on the staging website:
https://eclipsefdn.github.io/openadx.eclipse.org/technologies/

Also, I don't think we can use the image with blue icons and create links out of it to go to a specific tool page as I don't think it will scale for mobile. Could we just using the icons without the da

[2019-06-18 17:21] ericpoirier commented on #13
Here is the link of the staging website:

https://eclipsefdn.github.io/openadx.eclipse.org/

Please let me know if there's anything to be changed.

Thanks.

[2019-06-19 09:03] ariexi commented on #13
Can we fill (instead of lorem ipsum) the "Vision" on the home page [https://eclipsefdn.github.io/openadx.eclipse.org/](https://eclipsefdn.github.io/openadx.eclipse.org/) with the following content?

Autonomous driving (AD) is an extremely complex challenge with a complex development process, which is slowed at every turn by incompatibility between widely used development tools. The tools we alread

[2019-06-19 09:10] ariexi commented on #13
Can we fill (instead of lorem ipsum) the "Working Group" on the home page https://eclipsefdn.github.io/openadx.eclipse.org/ with the following content?

The OpenADx working group will coordinate the development of Eclipse Foundation projects on the following topics:
- Implementation of interfaces between the development steps
- Implementation of common standards from other working groups (e.g. VDA

[2019-06-19 09:14] ariexi commented on #8
Yes, the image with the blue icons.

Yeas, it is fine for me, if the icons will be not clickable.
Can we implement the section like in issue #13 with the green icons?
It looks really cool and it is not necessary to make these icons clickable ... ;-)

We can start with only one, the "Simulation and Test" icon ...

Thanks!

[2019-06-19 09:17] ariexi commented on #13
Can we fill (instead of lorem ipsum) the "Technologies" on the home page https://eclipsefdn.github.io/openadx.eclipse.org/ with the following content?

Automated Driving (AD) is clustered into three equally important technology areas:
- In-vehicle technology
- Cloud technology (backend)
- Design, development, test and validation tools (tool chain)

OpenADx is currently focused on the AD tool chain

[2019-06-19 09:21] ariexi commented on #13
Can we fill (instead of lorem ipsum) the "Resources" on the home page https://eclipsefdn.github.io/openadx.eclipse.org/ with the following content?

Explore our information material about OpenADx and Autonomous Driving.

[2019-06-19 09:26] ariexi commented on #4
There is very small bug on the web page [https://eclipsefdn.github.io/openadx.eclipse.org/vision/](https://eclipsefdn.github.io/openadx.eclipse.org/vision/)

Could you please insert a line break between "OpenADx" and "We" in the line:

It is above the first bullet list.

[2019-06-19 09:32] ariexi commented on #13
I guess, the links in the "Learn more" buttons will be updated after launch, right?

[2019-06-19 12:49] ericpoirier commented on #13
Hi,

I updated the content of the home page and I also updated the links to go to their respective section.

Let me know if there's anything else for the home page.

Thanks.

[2019-06-19 12:54] ericpoirier commented on #8
Ok no problem, I will add only the "Simulation and Test" icon where the same title is located on the page and I will make the Learn more button go to the Eclipse Cloe page.

[2019-06-19 13:09] ericpoirier commented on #6
Hi,

You can drag and drop image in the comment textarea.

[2019-06-19 13:11] ericpoirier commented on #5
Should we create a Members page and display only the members logo?

If so, can you provide the companies logo?

Thanks.

[2019-06-19 13:13] ericpoirier commented on #8
I merged a pull request to update the Technologies page.

We should see the changes in a few minutes.

Please reopen this issue if there are more changes to be made to that page.

Thanks.

[2019-06-19 13:13] #8 closed

[2019-06-19 13:14] ericpoirier commented on #7
Hi,

This page was implemented in the pull request  that was merged this week.

Please reopen this issue if there are changes to be made to the Resources page.

Thanks.

[2019-06-19 13:14] #7 closed

[2019-06-19 13:14] ericpoirier commented on #11
The projects page was created and contains the proposal of the project Cloe.

Please reopen this issue if there are changes to be made to the Projects page.

Thanks.

[2019-06-19 13:14] #11 closed

[2019-06-19 13:17] ericpoirier commented on #3
Hi,

The event was added in a pull request that was committed this week.

Please reopen this issue if there are changes to be made to the event.

Thanks.

[2019-06-19 13:17] #3 closed

[2019-06-19 13:27] ericpoirier commented on #4
Hi,

A pull request was merged this morning to update this typo.

Please reopen this issue if you'd like to make changes changes to the Vision page.

Thanks.

[2019-06-19 13:27] #4 closed

[2019-06-19 14:40] ariexi commented on #5
Good point.
I guess, I have to ask for permission to use the logo, right?
I will ask...

[2019-06-24 18:19] chrisguindon commented on #12
Thank you @mbarbero

The website is now live: https://openadx.eclipse.org/index.html

[2019-06-24 18:19] #12 closed

[2019-06-24 18:20] chrisguindon commented on #13
Thank you @ericpoirier

The website is now live: https://openadx.eclipse.org/index.html

Please let us know if there is any other changes required for the official launch!

[2019-06-24 18:20] #13 closed

[2019-07-18 14:19] ariexi opened #25 "Question"
Within the OpenADx steering committee we found some people who could also do the web page content.
Is it possible to connect you with them that they can get an introduction to "Hugo"?

Thx.

Best,
Andy

[2019-07-25 16:12] ariexi commented on #25
Any news on this?
Thanks!
Best,
Andy

[2019-08-12 15:32] chrisguindon commented on #25
Hi @ariexi,

I would be happy to offer some group training! Feel free to reach out to me via email to set this up!

[2019-08-12 15:32] #25 closed

[2019-08-12 16:01] ariexi opened #26 "Add "Eclipse iceoryx" project to "Projects""
Could you please add the project "Eclipse iceoryx" to the project section?

Content:
Eclipse iceoryx is a middleware with a zero-copy shared memory approach which is optimized for the huge data inter-process-communication.

URL:
https://projects.eclipse.org/projects/technology.iceoryx

Thx!

Best,
Andy

[2019-08-14 11:49] ericpoirier commented on #5
Hi Andy,

Any news about the Members page?

[2019-08-14 11:52] ericpoirier commented on #6
Hi Andy,

I'm going to close this issue since the Working Group page is live. I was keeping it open since it seems like you were trying to upload new images.

You can reopen this issue if ever you need to add more images.

Thanks.

[2019-08-14 11:52] #6 closed

[2019-08-14 11:54] ericpoirier commented on #10
Hi Andy,

Do we still need to link the news item to the press release?

Thanks.

[2019-08-15 07:50] ariexi commented on #5
Yes, following are the founding members:
- AVL List GmbH
- Eteration A.S.
- JC Information Management GmbH
- IBM
- itemis AG
- Red Hat
- Robert Bosch GmbH
- Siemens AG

Is it possible to use the logos on the Member page?
https://www.eclipse.org/membership/exploreMembership.php

I will ask for the logos ...

Thx
Best,
Andy

[2019-08-15 08:11] ariexi commented on #5
As I am still not able to attach files, I will provide you the logos via email ...

Best,
Andy

[2019-08-15 11:45] ericpoirier commented on #5
Yes we can use logos from the members page.

[2019-08-15 14:28] ericpoirier commented on #5
Hi Andy,

Quick question, do you have any participation levels with the members or are they all on the same level of participation?

Thanks.

[2019-08-15 15:57] ariexi commented on #5
Hi Eric,

good question…
As I do not know every signed PA and we are in the incubation phase, I guess every founding member is a “participant member” till 30th June 2020.
Starting 01st July 2020, we will have different participation levels …

[cid:image001.png@01D55392.F34FEDD0]

Best,
Andy

Mit freundlichen Grüßen / Best regards

Andreas Riexinger

Chassis Systems Control, Product Management Auto

[2019-08-16 09:52] ariexi commented on #10
Hi Eric,
Press Release will be finalized in the next days, maybe today.
I guess, we can remove the link for now.
When the PR is ready, we can do a separate post?
What do you think?
Best,
Andy

[2019-08-16 12:11] ericpoirier commented on #10
Ok I will remove the news item the should have linked to the press release and when the PR is ready I will create a new News item for that.

Let me know when the PR is ready.

Thanks.

[2019-08-16 12:27] ariexi commented on #10
Of course!
Thank you so much!

[2019-08-16 12:28] ericpoirier commented on #26
Hi Andy,

This project has been added to the production website.

[2019-08-16 12:28] #26 closed

[2019-08-19 19:05] ericpoirier commented on #5
Hi Andy,

The members page is now live on production.

https://openadx.eclipse.org/members/

Please reopen this issue if you'd like to make any changes to that page.

Thanks.

[2019-09-20 11:47] ariexi commented on #10
I know, I am a bit late, but I have following News:

26th August 2019:
Welcome EclipseSource Munich GmbH in the OpenADx Working Group.

27th August 2019:
Press Release
OpenADx Becomes Eclipse Working Group Focused on Interoperability in the Autonomous Driving Software Stack
(see also: https://www.globenewswire.com/news-release/2019/08/27/1906959/0/en/OpenADx-Becomes-Eclipse-Working-Group-Focused-o

[2019-09-20 11:50] ariexi commented on #5
EclipseSource joined the OpenADx Working Group.
Could you please add them on the member page?
Thanks!

[2019-09-20 11:51] ariexi commented on #5
EclipseSource joined the OpenADx Working Group.
Could you please add them on the member page?
Thanks!

[2019-10-29 14:19] chrisguindon commented on #5
PR #35 from @burcakkalmuk was merged today.

@ariexi In the future, would it be possible to create a new issue instead of re-opening this one? This makes it hard for us to track if there is new things we need to do on the website!

[2019-10-29 14:19] #5 closed

[2019-10-29 14:59] chrisguindon commented on #10
I believe these request were done via https://github.com/EclipseFdn/openadx.eclipse.org/pull/38

If not, please open a new issue!

Thanks @burcakkalmuk

[2019-10-29 14:59] #10 closed

[2019-10-29 15:52] ariexi commented on #5
@chrisguindon Sorry, I will do it better next time!

[2019-10-29 16:20] chrisguindon commented on #5
@ariexi no worries! Thanks!

[2019-11-15 16:12] ariexi opened #42 "Member site: Please add Microsoft and please order the member site alphabetical"
Could you please add Microsoft as a new partner?

Could you please order the member site alphabetical?

That would be great!

Thanks!

[2019-11-15 16:14] ariexi opened #43 "News - Eclipse iceoryx published"
**Date:** 25th October 2019
**Title** OpenADx publishes first project - Eclipse iceoryx
**Full description (if internal page)** The initial contribution of Eclipse iceoryx is done! You can find the software in GitHub.
**Link (if external page)** https://github.com/eclipse/iceoryx

[2019-11-15 16:17] ariexi opened #44 "News - Microsoft joined OpenADx"
**Date:** 11th November 2019
**Title** Microsoft joined OpenADx
**Full description (if internal page)** Microsoft joined now also the OpenADx working group to work with us along the autonomous driving toolchain.
**Link (if external page)**

[2019-11-15 16:20] ariexi opened #45 "Main page - upcoming events?"
Is it possible to see all upcoming events on the main page?
Currently there is only one event to see.

Thx!

[2019-11-15 16:23] ariexi opened #46 "News on main page"
There is a difference between the "News" on the News page and on the Main page.
Can we fix this?

Question on that: Do you have to maintain the news on both pages or are there references?
To prevent double work, I would like to think about my page concept, if you have to maintain news on both sites.

Thx!

[2019-11-18 13:47] burcakkalmuk commented on #46
No I don't need to maintain both pages. It does automatically. I just realized that I forgot to type in the category information that's why news and events weren't showing up on main page. Sorry! @ariexi

[2019-11-18 15:06] #43 closed

[2019-11-18 15:06] #45 closed

[2019-11-19 20:06] ariexi commented on #46
@burcakkalmuk No worries, everything is fine! Thank you so much! Best, Andy

[2019-12-09 10:10] ariexi opened #51 "News - ADLINK Technology joined OpenADx"
**Title** ADLINK Technology joined OpenADx
**Full description (if internal page)** ADLINK Technology joined today the OpenADx working group to work with us along the autonomous driving toolchain.
ADLINK created and published the [Eclipse Cyclone DDS project.](https://projects.eclipse.org/projects/iot.cyclonedds)
ADLINK is interested to build together with us a cool middleware based on Eclipse Cycl

[2019-12-09 10:12] #46 closed

[2019-12-09 10:13] #44 closed

[2019-12-09 10:13] #42 closed

[2019-12-09 10:21] ariexi opened #52 "Members - please add ADLINK Technology"
Could you please add ADLINK Technology as new member?

Could you please add a little explanation, what ADLINK is about?
(Source is Eclipse member site)

"ADLINK is Leading EDGE COMPUTING by delivering the network nodes that enable practical and scalable IoT systems."

[2019-12-09 10:23] ariexi opened #53 "Members - please add a short description of EclipseSource"
Could you please add following short description on EclipseSource?

"EclipseSource provides services to you to maximize your benefits of Eclipse open-source technology."

[2019-12-09 10:25] ariexi opened #54 "Members - please add a short description of Microsoft"
Could you please add following short description on Microsoft?

"At Microsoft, our developer mission is to deliver experiences that empower any developer, building any application, on any OS. "

[2019-12-12 14:07] autumnfound commented on #51
This is live! Thanks @burcakkalmuk!

[2019-12-12 14:07] #51 closed

[2019-12-12 14:07] autumnfound commented on #52
This is live! Thanks @burcakkalmuk!

[2019-12-12 14:07] #52 closed

[2019-12-12 14:07] autumnfound commented on #53
This is live! Thanks @burcakkalmuk!

[2019-12-12 14:07] #53 closed

[2019-12-12 14:08] autumnfound commented on #54
This is live! Thanks @burcakkalmuk!

[2019-12-12 14:08] #54 closed

[2020-01-09 09:10] ariexi opened #58 "New Member - DENSO Corporation"
Could you please add DENSO Corporation as a new member of the OpenADx Working Group?

Could you please add a little explanation, what ADLINK is about?

DENSO is a leading supplier of advanced automotive technology, systems and components for all the world's major automakers.

(Source: https://www.denso.com/de/de/about-us/at-a-glance/)

[2020-01-09 09:20] ariexi opened #59 "News - DENSO Corporation joined OpenADx working group"
**Title** Welcome DENSO Corporation to OpenADx!
**Full description (if internal page)** DENSO Corporation joined the OpenADx working group to work on solutions for autonomous driving.
**Link (if external page)** [Learn more here about DENSO Corporation ...](https://www.denso.com/global/en/)

[2020-01-09 15:11] ariexi opened #60 "Events - Bosch ConnectedWorld 2020"
**Title:** Bosch ConnectedWorld 2020

**Date:** 19th - 20th February 2020

**Location:** Berlin, Germany

Bosch ConnectedWorld - The leading conference on IoT and digital transformation.
Meet us there at the Eclipse booth!

[Learn more here…](https://bosch-connected-world.com/)

[2020-01-13 13:34] autumnfound commented on #60
This event announcement is live

[2020-01-13 13:34] #60 closed

[2020-01-13 13:34] autumnfound commented on #59
This is live!

[2020-01-13 13:34] #59 closed

[2020-01-13 13:35] autumnfound commented on #58
This is live!

[2020-01-13 13:35] #58 closed

[2020-02-25 17:22] ariexi opened #66 "Events - Conference Automotive Software Strategies"
**Title:** Conference Automotive Software Strategies

**Date:** 3rd - 4th March 2020

**Location:** Munich, Germany

**About the conference:** _"Software is the new hardware. Some OEM are aiming for a software share of 70% in the added value of its vehicles in the next few years. Even today, software projects at OEMs and suppliers are becoming increasingly complex and expensive. .."._

[Learn more

[2020-02-26 16:09] ariexi opened #67 "News - OpenADx Whitepaper"
**Title** Work on OpenADx Whitepaper started
**Full description (if internal page)** We started to work on an OpenADx Whitepaper. If you would like to participate and work with us, please let us know!
You can contact us via our mailing list: [openadx@eclipse.org](openadx@eclipse.org)
(Please note: you have to subscribe to the [mailing list](https://dev.eclipse.org/mailman/listinfo/openadx))

[2020-03-03 11:57] ariexi opened #70 "AD Demonstrator "Larry""
**Is your feature request related to a problem? Please describe.**
We would like to promote one of our projects, which is currently not an Eclipse project, but uses our iceoryx technology.

**Describe the solution you'd like**
We would like to have a drop-down menu for the navigation item "Projects".
Therefore, we should have 2 entries in the drop-down menu, the fist one is "Eclipse Projects" and

[2020-03-03 13:51] autumnfound commented on #70
Currently there is something on IoT which might match what you're looking for! We have an [adopters page](https://iot.eclipse.org/adopters/) that shows off people who have adopted technologies from the working group. So all this would require is a new page and a new data file to store the info we would need.

[2020-03-03 13:57] ariexi commented on #70
Yes, something like that could be if interest, but we (Larry is built from some colleagues within Bosch, also working on iceoryx) would like to have a kind of "advertising page" too.
Do you have a proposal also for that?
Maybe a combination of both?
Thx!

[2020-03-03 14:52] ariexi commented on #67
Events - Automotive Software Strategies EclipseFdn#66 #69

[2020-03-03 14:52] #67 closed

[2020-03-03 14:52] ariexi commented on #66
Events - Automotive Software Strategies EclipseFdn#66 #69

[2020-03-03 14:52] #66 closed

[2020-03-03 15:38] chrisguindon commented on #70
@ariexi I would recommend reaching out to our sales team for advertisement questions: perri.lavergne@eclipse-foundation.org

In regards to the Other Projects page, I will reach out to Ralph to see what we should do here!

[2020-03-03 17:16] ariexi commented on #70
@chrisguindon Thanks for your answer. It is not a really "advertising page" it is more like a homebase for a iceoryx related project...

[2020-03-04 19:12] waynebeaton commented on #70
Having a working group website include pointers to products and other open source projects that leverage related Eclipse open source technology is fine. Anything more than that is offside.

It would be inappropriate for the OpenADX working group to provide a landing page (or "homebase") for a project that is not hosted at the Eclipse Foundation.

Note that if Larry is moved to the Eclipse Foundati

[2020-03-06 17:18] ariexi commented on #70
@waynebeaton, I am just discussing with the creator. What do you expect for a project?
I think the complete project creation process, right?
What about with the initial contribution then? Because everything is there at the moment...
Is GitLab approved for use in Eclipse projects?

In other words, what is the leanest way for hosting this project at Eclipse?
Thank you so much!

[2020-04-07 07:05] ariexi opened #73 "News - University of Applied Science and Arts Dortmund joined OpenADx"
**Title** Welcome University of Applied Science and Arts Dortmund to OpenADx!
**Full description (if internal page)** University of Applied Science and Arts Dortmund joined the OpenADx working group to work on solutions for autonomous driving.
**Link (if external page)** [Learn more about University of Applied Science and Arts Dortmund here ...](https://www.fh-dortmund.de/en/index.php)

[2020-04-07 08:07] ariexi opened #75 "New Member - University of Applied Science and Arts Dortmund"
**Could you please add:** University of Applied Science and Arts Dortmund as a new member (section interested party) of the OpenADx Working Group?

Dortmund University of Applied Sciences and Arts is a Fachhochschule in Dortmund, North Rhine-Westphalia, Germany with over 12,500 students, 400 staff, and 200 professors.

(Source: https://www.fh-dortmund.de/en/index.php)

[2020-04-07 08:12] ariexi opened #76 "Events - separation of upcoming and past events"
**Is your feature request related to a problem? Please describe.**
**Describe the solution you'd like**
For structuring reasons, is it possible to have separate sections of the events?
Upcoming on top and past events in a separate section?
Or is this not possible due to some automated mechanism?

Thanks!

[2020-04-15 12:36] ariexi commented on #76
@burcakkalmuk @chrisguindon
Could you please have a look on that? Is there a possibility to do that?
Thx!
Best,
Andy

[2020-04-15 12:36] #75 closed

[2020-04-15 12:37] ariexi commented on #73
implemented

[2020-04-15 12:37] #73 closed

[2020-04-15 13:19] ariexi opened #79 "Resources - add video from presentation"
Add video: ScaleUp 360° Automotive AI: Autonomous Driving and Open Source: Does it fit?, Robert Bosch GmbH
Link: https://www.youtube.com/embed/GBF1vtbP4O0

[2020-04-16 08:51] ariexi commented on #79
@autumnfound @ericpoirier Could you please help me inserting the video linked above?
I am not able to do that in a proper way, that it looks fine at the end.
Thank you so much!
Best,
Andy

[2020-04-16 10:25] ariexi opened #82 "Resources - Embed OpenADx video instead of a link"
Is it also possible, to embed the video mentioned in Articles instead of a link?

Here is the link: https://youtu.be/7gHLkSzWNKA

Thanks!

Best,
Andy

[2020-04-16 10:27] ariexi opened #83 "Provide a kind of instructions / howtos"
Could you please provide me a kind of documentation, how I can embed a video like on the resources site?

That would be really helpful!

Thanks!
Best,
Andy

[2020-04-16 10:35] ariexi opened #84 "Working Group - insert "How to join" section"
Source: https://wiki.eclipse.org/OpenADx#Who_We_Are_and_How_to_Join

Who We Are and How to Join

As we have a public website it would be nice to give newcomers an understanding who is involved and how to interact with us.

How to participate in OpenADx?

OpenADx is still in an early stage, means, since 25th June 2019 we are an official Eclipse Working Group which consists of more than 10 member co

[2020-04-22 07:37] #84 closed

[2020-04-22 20:14] chrisguindon commented on #76
@ariexi this is possible!

[2020-04-23 12:11] ericpoirier commented on #83
Hi Andy,

To add videos to the OpenADx website you need to edit the following file:
/layouts/shortcodes/resources_video_section.html

Also note that the videos are added through a simple link. For example:
<a class="eclipsefdn-video" href="//www.youtube.com/embed/7gHLkSzWNKA"></a>

Solstice will take care of embedding the video into the page.

For more information about how the embedding Youtube v

[2020-04-29 12:33] ericpoirier commented on #76
Hi Andy,

I created a PR to update the Events list on the home page and Events page. Also I created a Past Events page.

https://deploy-preview-87--eclipsefdn-openadx.netlify.app/
https://deploy-preview-87--eclipsefdn-openadx.netlify.app/past-events/

Let me know what you think and if you'd like to make more changes.

Thanks!

[2020-05-22 13:46] ZahraFazli opened #89 "Please add Open Source Robotics logo on the OpenAdx website"
Open Source Robotics is a guest member of the OpenAdx working group. Please add their logo on the OpenAdx website https://openadx.eclipse.org/members/

[2020-05-25 11:24] ariexi commented on #82
It is already implemented via #87

[2020-05-25 11:24] #82 closed

[2020-05-25 15:32] ariexi commented on #89
Will be done with PR #92

[2020-05-25 15:32] #89 closed

[2020-06-02 18:27] ericpoirier commented on #79
I believe the video has been added to the website.

Please reopen if we missed something from this issue.

Thanks.

[2020-06-02 18:27] #79 closed

[2020-06-08 18:40] ericpoirier commented on #83
Hi Andy,

I'm going to close this issue, please reopen if you need more instructions.

Thanks!

[2020-06-08 18:40] #83 closed

[2020-07-27 17:46] ChristieWittEclipse opened #94 "Add OpenADx Manifesto to the "Resources" section"
Please add the OpenADx Manifesto to [this page](https://openadx.eclipse.org/resources/) by this Thursday July 30th.
I've included the PDF, thumbnail image, and a mockup of what it should look like.

[OpenADx-Manifesto-v07-2020.pdf](https://github.com/EclipseFdn/openadx.eclipse.org/files/4983552/OpenADx-Manifesto-v07-2020.pdf)
![OpenADx-Thumbnail](https://user-images.githubusercontent.com/58480647/

[2020-07-27 18:50] ChristieWittEclipse commented on #94
Please hold on this as we have gotten some content revisions on the Whitepaper.

[2020-07-30 16:42] ChristieWittEclipse commented on #94
[OpenADx-Manifesto-v07-2020.pdf](https://github.com/EclipseFdn/openadx.eclipse.org/files/5002614/OpenADx-Manifesto-v07-2020.pdf)
I've attached the final version of the whitepaper. @ariexi is going to publish this himself FYI @chrisguindon @autumnfound

[2020-07-30 17:28] chrisguindon commented on #94
@ChristieWittEclipse Thanks for letting us know! I've removed Martin and assigned this issue to @ariexi !

[2020-07-31 10:39] ariexi opened #96 "Extend Events View to 5"
Extend Events View to 5, because not all coming events are shown.

[2020-07-31 10:49] ariexi commented on #96
done with PR #97

[2020-07-31 10:49] #96 closed

[2020-07-31 11:03] ariexi opened #98 "Projects - Change Cloe button"
Cloe is not a proposal anymore, so change to View Project

[2020-07-31 11:40] ariexi commented on #98
Done with #99

[2020-07-31 11:40] #98 closed

[2020-07-31 11:54] ariexi commented on #94
Hi @chrisguindon, Hi @autumnfound, I have a question regarding linking the document...

What I did:
- I added a folder in my Git project `openadx.eclipse.org/resources` and pasted there the document
- I did a reference on the site in this way `href="https://openadx.eclipse.org/resources/OpenADx-Manifesto-v07-2020.pdf"`
But it won´t work.
What did I wrong?
Thanks!

Best,
Andy

[2020-07-31 12:18] ariexi commented on #94
Hi @chrisguindon, Hi @autumnfound,
ok, I found it, but can you still help me with the alignment, or will this be ok?
What do you think @ChristieWittEclipse ?
Thx!

[2020-07-31 12:53] autumnfound commented on #94
The `text-center` class in your shortcode can affect images as well as text. If you remove it or replace it with `text-left`, you should be closer to the desired output!

[2020-07-31 13:09] #76 closed

[2020-07-31 13:26] ariexi commented on #94
Thx @autumnfound, but it does not really work ...
https://deploy-preview-100--eclipsefdn-openadx.netlify.app/resources/

[2020-07-31 13:33] autumnfound commented on #94
The first thing I notice is that there is a col-sm-offset-6, which means that there's gonna be a bump on tablet size screens and up. The heading underline can be removed to match the mock and it wouldn't look out of place anymore as well.

[2020-07-31 14:22] ariexi commented on #94
Thx @autumnfound!

Implemented with #100

[2020-07-31 14:22] #94 closed

[2020-08-10 15:07] ariexi opened #101 "Update OpenADx Whitepaper"
Correction of QR Code

[2020-08-10 15:44] ariexi opened #103 "Update member site"
Due to the end of the incubation phase some membership level changed ...

[2020-08-10 15:58] #101 closed

[2020-08-10 15:58] #103 closed

[2020-09-15 09:35] ariexi opened #105 "Members - AVL upgraded to Driver Member"
Change AVL Membership Level

[2020-09-15 09:36] ariexi opened #106 "Members - Add "The Autoware Foundation" as Guest Member"
Add Autoware Foundation

[2020-09-18 13:20] autumnfound commented on #106
This is live, thanks @ariexi !

[2020-09-18 13:20] #106 closed

[2020-09-18 13:20] autumnfound commented on #105
This is live, thanks @ariexi !

[2020-09-18 13:21] #105 closed

[2020-10-22 13:22] ariexi commented on #70
Set on hold!

[2020-10-22 13:22] #70 closed

[2020-10-22 13:24] ariexi opened #111 "Add new project Eclipse OpenMCx"
New project Eclipse OpenMCx which is part of OpenADx should bne added in the project area.

Link to project: https://projects.eclipse.org/proposals/eclipse-openmcx

[2020-10-22 15:41] autumnfound commented on #111
This has been merged in! Thanks for the contribution :)

[2020-10-22 15:41] #111 closed

[2020-11-10 07:49] ariexi opened #114 "Add APP4MC to OpenADx Project page and re-structure a bit"
Add APP4MC to OpenADx Project page -> committed by Joerg Tessmer
and re-structure a bit -> to group the solutions a bit

[2020-11-19 09:57] #114 closed

[2020-11-19 09:58] ariexi opened #116 "Add HowTo from RedHat to Resources"
https://www.redhat.com/en/resources/how-to-launch-an-open-source-project-overview

[2020-11-25 07:49] ariexi opened #119 "Add 451Research report to Resources"
Add the 451 Research Report about automotive in Eclipse

[2020-12-07 14:57] ariexi commented on #116
Done with #117

[2020-12-07 14:57] #116 closed

[2020-12-07 14:57] ariexi commented on #119
Done with #117

[2020-12-07 14:57] #119 closed

[2020-12-07 14:59] ariexi opened #120 "Add Article from Red Hat - Measuring open source project health"
Add article Measuring open source project health: https://www.redhat.com/en/resources/measuring-open-source-health-brief

[2020-12-08 21:14] jph152 opened #122 "Update OpenADX Manifesto on Resources page"
We have a new version of the "OpenADX Manifesto" whitepaper, featuring updated membership titles.

Please replace the existing version on https://openadx.eclipse.org/resources/ with the following:
[OpenADx-Manifesto-v07-2020.pdf](https://github.com/EclipseFdn/openadx.eclipse.org/files/5661957/OpenADx-Manifesto-v07-2020.pdf)

[2020-12-09 07:58] ariexi commented on #122
@jph152, compared with the former version of the Manifesto, it looks like that format has been broken ...
Font looks different and some superscript numbers has bigger size ...
Could you please have a look on that?

Thanks!

[2020-12-09 21:16] jph152 commented on #122
@ariexi We were able to find a font that is close to the original since we don't have access to the font used here (Cabin). Please let me know if the attached PDF works for you.
[OpenADx-Manifesto-v12-2020.pdf](https://github.com/EclipseFdn/openadx.eclipse.org/files/5668712/OpenADx-Manifesto-v12-2020.pdf)

[2020-12-10 11:51] ariexi commented on #122
@jph152 I added the changes to PR #121
It is in the queue for release now ... ;-)

[2020-12-10 16:43] #122 closed

[2020-12-10 16:43] ariexi commented on #120
closed with #121

[2020-12-10 16:43] #120 closed

[2020-12-10 19:16] ariexi opened #123 "Add arm as new User member on OpenADx wiki site"
Signed-off-by: ariexi <andreas.riexinge@de.bosch.com>

[2020-12-10 19:19] jph152 commented on #122
Thanks!

[2020-12-10 19:58] ariexi commented on #123
closed with #124

[2020-12-10 19:58] #123 closed

[2020-12-10 20:57] ZahraFazli opened #125 "Add ARM Limited as User Member on OpenADx website"
Hello,
Please add ARM Limited as a User Member on the OpenADx working group https://openadx.eclipse.org/members/

![ARM](https://user-images.githubusercontent.com/50374570/101828990-5494aa80-3b00-11eb-8212-e01ad5196811.png)

Thank you!

[2020-12-11 15:41] flora8984461 commented on #125
Hello @ZahraFazli ,
Please check the preview: https://deploy-preview-126--eclipsefdn-openadx.netlify.app/members/

Do you want to put any descriptions?

Thanks!

[2020-12-11 20:16] flora8984461 commented on #125
Sorry @ZahraFazli , I just noticed that there is already a PR from https://github.com/EclipseFdn/openadx.eclipse.org/pull/124, and he has included a description for ARM, I have included it as well.

Thanks!

[2020-12-17 13:42] #125 closed

[2021-01-05 20:48] ZahraFazli opened #127 "Remove Red Hat from the OpenADx website"
Red Hat is no longer part of the OpenADx working group. Please remove the logo from the website https://openadx.eclipse.org/members/
Thanks,
Zahra

[2021-01-06 19:41] autumnfound commented on #127
@ZahraFazli does this impact the presence of documents by/from Red Hat on the resources page? Should we remove them as well?

[2021-01-07 06:32] ariexi commented on #127
@autumnfound let me try .... ;-)
The articles from Red Hat are general and not OpenADx specific. If would like to keep them because they are also valid for OpenADx and we do not want to reinvent the wheel.
And I am sure, Red Hat will (sooner or later) be part of OpenADx again, if times will better ... ;-)

[2021-01-08 15:33] #127 closed

[2021-03-18 17:05] ariexi opened #130 "Publish OpenADx Program Plan 2021"
Publish OpenADx Program Plan 2021 which was approved by OpenADx SC

[2021-03-18 17:06] ariexi opened #131 "Add EclipseCon 2020 talk about OpenADx"
The talk recording about OpenADx should be on the website.

[2021-03-19 10:14] ariexi opened #132 "Add Twitter Integration"
Add Twitter Button and also Twitter timeline about OpenADx

[2021-03-19 10:29] ariexi opened #133 "Typo in site description"
In the site description there is a lower o instead og an upper O

[2021-04-12 18:33] autumnfound commented on #133
This seems to be fixed, I merged in your changes last week!

[2021-04-12 18:33] #133 closed

[2021-04-12 18:38] autumnfound commented on #131
This was merged in last week and is on production!

[2021-04-12 18:38] #131 closed

[2021-04-12 18:39] autumnfound commented on #130
This was merged in last week and is live on production!

[2021-04-12 18:39] #130 closed

[2021-04-29 15:05] ariexi opened #136 "Add Link(s) to "Building Safe Algorithms in the Open""
There is a real good blog post series from our iceoryx partner and Eclipse Member Apex.AI

[2021-04-29 15:15] autumnfound commented on #136
Whats the link to the content, and where would you like the link? We can add it to our queue of things to update this week!

[2021-04-29 15:24] ariexi commented on #136
@autumnfound, wow, great!! That was a really fast response!

Here are the links:
1. https://www.apex.ai/post/building-safe-algorithms-in-the-open-part-1-design
2. https://www.apex.ai/post/building-safe-algorithms-in-the-open-part-2-implementation
3. https://www.apex.ai/post/building-safe-algorithms-in-the-open-part-3-integration

I would like to have them on page: https://openadx.eclipse.org/resou

[2021-04-30 05:44] ariexi commented on #136
[-Shared-_How Apex.AI Certified ROS 2 According to ISO 26262 ASIL-D (AWF TSC April 2021).pdf](https://github.com/EclipseFdn/openadx.eclipse.org/files/6403214/-Shared-_How.Apex.AI.Certified.ROS.2.According.to.ISO.26262.ASIL-D.AWF.TSC.April.2021.pdf)

[2021-05-03 17:02] linkfang commented on #136
Hi @ariexi,
3 links and the paper download were added, here is the preview link:
https://deploy-preview-137--eclipsefdn-openadx.netlify.app/

Thanks!

[2021-05-04 05:30] ariexi commented on #136
Thank you @linkfang, looks great!

[2021-05-05 13:18] #136 closed

[2021-05-20 13:25] ariexi opened #138 "Add ofe video: Digitising European Industry: Open Source Driving the Automotive Sector"
Link to the video: https://www.crowdcast.io/e/oss-automotive

[2021-05-25 13:42] ariexi commented on #138
Implemented with #139

[2021-05-25 13:42] #138 closed

[2021-07-05 10:13] ariexi opened #140 "Add Eclipse articles"
Open Source Software Drives Indy Autonomous Challenge Racecars
https://newsroom.eclipse.org/eclipse-newsletter/2021/june/open-source-software-drives-indy-autonomous-challenge-racecars

Q&A: It’s Time to Take a Closer Look at Eclipse iceoryx
https://newsroom.eclipse.org/eclipse-newsletter/2021/june/qa-it%E2%80%99s-time-take-closer-look-eclipse-iceoryx

[2021-07-05 10:28] ariexi opened #141 "Add iceoryx video"
add iceoryx video
https://youtu.be/giLPYIRBQkw

[2021-07-05 10:36] ariexi opened #142 "Exchange ofe video (crowdcast) by YouTube link"
Digitising European Industry: Open Source Driving the Automotive Sector
https://youtu.be/lbW1yzQdJzc

[2021-07-05 11:26] ariexi opened #143 "Add Eclipse SAAM Mobility 2021 video"
Mobility of the Future and Open Collaboration – A good Idea?
https://www.youtube.com/embed/1vpO09-v9Kk

[2021-07-05 11:43] ariexi opened #144 "Add ADLINK Autonomous Driving stuff"
Collaborating with Ecosystem Partners to Accelerate “Autonomous Driving for All”
https://www.adlinktech.com/en/Connected-Autonomous-Vehicle-Solutions

Rise to the Indy Autonomous Challenge:
https://material.adlinktech.com/ADLinkFile/Publication/1549/Solution_Brief-Rise_to_the_Indy_Autonomous_Challenge_05-07-2021.pdf

[2021-07-05 11:53] ariexi opened #145 "Add Panorama Timing Analytics video"
Timing Analysis of Car-to-Car Communication Systems Using Real-Time Calculus: A Case Study
https://youtu.be/Ttc2tChHKC0

[2021-07-05 13:25] ariexi opened #146 "Add OpenADx Big Picture to Vision"
Add OpenADx Big Picture to Vision

[2021-07-05 13:55] ariexi opened #148 "Correct typos in current PR #147"
There are some typos in the current issues for PR #147

[2021-07-05 14:02] ariexi commented on #140
Solved with PR #147

[2021-07-05 14:02] #140 closed

[2021-07-05 14:02] ariexi commented on #141
Solved with PR #147

[2021-07-05 14:02] #141 closed

[2021-07-05 14:02] ariexi commented on #142
Solved with PR #147

[2021-07-05 14:02] #142 closed

[2021-07-05 14:03] ariexi commented on #143
Solved with PR #147

[2021-07-05 14:03] #143 closed

[2021-07-05 14:03] ariexi commented on #144
Solved with PR #147

[2021-07-05 14:03] #144 closed

[2021-07-05 14:03] #145 closed

[2021-07-05 14:03] ariexi commented on #146
Solved with PR #147

[2021-07-05 14:03] #146 closed

[2021-07-05 14:03] ariexi commented on #148
Solved with PR #147

[2021-07-05 14:03] #148 closed

[2021-07-06 09:04] ariexi opened #149 "Add German article about OpenADx"
Informatik Aktuell: Autonomes Fahren und Open-Source-Technologien - Ist das eine gute Idee? (German only)
https://www.informatik-aktuell.de/betrieb/kuenstliche-intelligenz/autonomes-fahren-und-open-source-technologien.html

[2021-07-06 12:59] #149 closed

[2021-11-26 12:10] ariexi opened #152 "Updates in WG describtion, project links and articles"
Updates in WG describtion, project links and articles

[2021-11-29 15:22] ericpoirier commented on #152
Hi @ariexi, can you describe what changes you'd like to make?

Thanks.

[2021-12-06 10:52] ariexi opened #154 "Article link is missing"
Add article "Autonomes Fahren und Open-Source-Technologien - Ist das eine gute Idee? (German only) | Informatik Aktuell" again.

Link: https://www.informatik-aktuell.de/betrieb/kuenstliche-intelligenz/autonomes-fahren-und-open-source-technologien.html

[2021-12-06 10:56] ariexi commented on #152
Hi @ericpoirier, sorry for the laten answer!
I will update the description right now...

[2021-12-06 15:25] linkfang commented on #154
Hi @ariexi ,

I can see this article showing on the page, can you check it again now?
https://openadx.eclipse.org/resources/

![image](https://user-images.githubusercontent.com/43075439/144873334-9a1827e6-7ac3-4c4b-8679-71dd14b1497c.png)

[2021-12-06 16:26] ariexi commented on #154
@linkfang, sorry for the confusion, on the preview for PR #153 it looks like, that I accidentality removed this link ...
Means if PR #153 is implemented, maybe this link is not there anymore, this is why I opened this issue...

[2021-12-06 16:34] linkfang commented on #154
Ah, OK, no worries
I will hold off until PR #153 is merged, and please let me know when it happens, thanks!

[2021-12-07 07:33] ariexi commented on #152
Hi @ericpoirier, what can I do, to just take over the commits of Nov 26th?
Thx!

[2021-12-07 13:36] ericpoirier commented on #152
Hi @ariexi, not sure what you mean here.

If you're talking about the following PR
https://github.com/EclipseFdn/openadx.eclipse.org/pull/153

The only issue i'm seeing is that there are conflicts with your PR. You should resolve them locally on your machine and push them back to Github.

Once the conflicts has been resolved, we will be able to merge it.

[2022-03-14 14:23] chrisguindon commented on #152
@ariexi is https://github.com/EclipseFdn/openadx.eclipse.org/pull/153 solving this issue and is it ready for us to review and merge?

[2022-03-14 15:50] chrisguindon opened #157 "Migrate website source repository to Eclipse Gitlab"
Over the last few months, we've been busy migrating some of our websites to Eclipse Gitlab:
https://gitlab.eclipse.org/eclipsefdn/it/websites

Today, I would like to recommend that we migrate this website repository under https://gitlab.eclipse.org/eclipsefdn/it/websites

This move makes it easier for foundation staff to collaborate and manage priorities since we can review issues by group https:/

[2022-03-14 16:33] ariexi commented on #157
Hi @chrisguindon,
thanks for your information!
I am sure, the move will not affect the website itself, right?

I fully agree to the move, because:
- that will also solve some "history" problems I have with GitHub right now
- it will help me to jump into GitLab

I don´t think, that I need time to communicate to my WG, because in very rare cases other will edit the site. ;-)

Looking forward and tha

[2022-03-14 16:39] ariexi commented on #152
Hi @chrisguindon,
in general yes, and it "describes" also the "history problem" (29 commits in the PR instead of 1, but including the right one) I have ...

If it is possible to just merge #152 that would be enough.

Thx!

Best,
Andy

[2022-03-14 17:17] chrisguindon commented on #157
The website will not be affected. Everything should continue to work as before. The only change will be that we will now use Eclipse Gitlab instead of Github to collaborate on this project!

[2022-03-15 12:45] chrisguindon commented on #157
Thanks @ariexi!

Now that https://github.com/EclipseFdn/openadx.eclipse.org/pull/158 is merged, I am going to start the migration! I will let you know once it's all done!

[2022-03-15 13:06] chrisguindon commented on #157
@ariexi The move has been done!
https://gitlab.eclipse.org/eclipsefdn/it/websites/openadx.eclipse.org

Feel free to open issues here now: https://gitlab.eclipse.org/eclipsefdn/it/websites/openadx.eclipse.org/-/issues

[2022-03-15 13:06] #157 closed, assigned to nobody